/* FUENTE */


@font-face {
  font-family: "BalooPaaji";
  src: url("./assets/fonts/BalooPaaji-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-Family: "Atkinson";
  src: url("./assets/fonts/Atkinson-Hyperlegible-Regular-102.otf")
}

@font-face {
  font-family: "WebSymbolsRegular";
  src: url('./assets/fonts/websymbols-regular-webfont.eot');
  src: url('./assets/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded'),
    url('./assets/fonts/websymbols-regular-webfont.woff') format('woff'),
    url('./assets/fonts/websymbols-regular-webfont.ttf') format('truetype'),
    url('./assets/fonts/websymbols-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* TODO */

* {

  color: #1F3262;

}

body {
  font-family: 'BalooPaaji';
  overflow-y: scroll;
}

/* COMIENZO DEL NAVBAR */

#navbar {

  position: fixed;
  top: 0;
  width: 100%;
  height: 104px;
  margin: 0 0 311px;
  box-shadow: 0 4px 4px 0 rgba(46, 56, 56, 0.51);
  border: solid 1.5px #000;
  background-image: linear-gradient(to bottom, #059da8 0%, #49bcc4 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#saludo {
  height: 30px;
  margin: 20px 0px 0px 100px;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-top: 45px;
  font-family: 'Atkinson';

}

#mailIcon {
  float: right;
  margin-right: 10px;
  font-family: 'WebSymbolsRegular';
  margin-top: 35px;


  width: 45px;
  height: 45px;

}

.picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;

}

/* HAMBURGUESA */


#burgerBox {

  float: left;
  height: 60px;
  border: none;
  margin-top: 20px;
  margin-left: 10px;
}

#burgerText {
  color: #1F3262;
  font-size: 10px;
  margin: 10px -13px 6px 0px;

}

#hamburguesa {
  font-family: 'WebSymbolsRegular';
  float: left;
  font-size: 35px;
  margin: -13px 9px 0px 13px;


}

#hamburguesa:hover {
  cursor: pointer;
}





.menu {
  border: 1px solid black;
  width: 25rem;
  height: 52rem;
  position: absolute;
  margin: -40px 2px 3px 3px;
  background-image: linear-gradient(95deg, #1F3262 0%, #4A4D9B 40%, #11e7f6 100%);
  border-radius: 15px;
  border: none;
  animation: fromRight 500ms linear;

}

@keyframes fromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%)
  }
}




#xContainer {
  border: 2px solid #EFEFEF;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-left: 180px;
  margin-top: 45px;
}

#xContainer:hover {
  cursor: pointer;
}

#xLetter {
  color: #EFEFEF;
  font-size: 20px;

  margin-left: 1px;
  margin-top: -3px;
}

.list {


  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;

}

.menuList {

  margin-left: 3px;
  margin-top: 35px;
  list-style: none;
  float: left;
  flex-direction: column;
  font-size: 35px;


}

.menuList>a {
  text-decoration: none;
  color: #EFEFEF;


}


.menuList>a:hover {
  cursor: pointer;


}

.subList {
  margin-bottom: 30px;
  height: 170px;
}

.menusubList {
  font-size: 20px;
  padding: 0px;
  margin: 3px 25px 0px 0px;
  list-style: none;



}

.menusubList>a {
  text-decoration: none;
  color: #EFEFEF;
}

.menusubList>a:hover {
  cursor: pointer;
}


#menuOptions {
  margin-top: 3em;

}

#menuOptions>a {
  text-decoration: none;
  color: black;

}

#cta {
  border: 1px solid black;
  width: 100px;
  height: 30px;
  background: rgb(40, 40, 64);
  margin: 0px auto;
}

#cta>a {
  text-decoration: none;
  color: rgb(233, 232, 232);

}

/* FIN HAMBURGUESA */


/* FIN DE NAVBAR */










.App {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo {

  margin: 0px auto;
  margin-top: 5rem;
  width: 150px;
  min-width: 50px;
  height: 150px;
  background-color: #63759b;
  border: 1px solid black;
  border-radius: 55px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 23px 23px 46px #8f8f8f,
    -23px -23px 46px #ffffff;
}

.logo1 {
  margin: 0px auto;
  margin-top: 8px;
  width: 100px;
  height: 100px;
  background-color: #63759b;
  border: 1px solid black;
  border-radius: 10%;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 23px 23px 46px #8f8f8f,
    -23px -23px 46px #ffffff;
}

.loginInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;

}

.phoneBox {
  margin: 8px;
}

.passBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;
  width: 100%;
}

.registBox {
  margin: 8px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;

}

.registBox * {

  margin: 12px;

}

.remember {
  margin: 8px;

}

.passRemember {
  margin: 16px;
  padding-right: 48px;
  align-self: flex-end;
}

.button {
  margin-top: 8px;
}

/* oooooooooooooooooooooooooooooooooooooooooooooo   tipousuario   oooooooooooooooooooooooooooooooooooooooooooooooooooooo */
.tipousuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.titulo {
  width: 60%;
}

.imagen {
  width: 120px;
  height: 120px;
  background-color: #63759b;
  border: 1px solid black;
  border-radius: 100%;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 23px 23px 46px #8f8f8f,
    -23px -23px 46px #ffffff;
}

.contenedortipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tipo {
  width: 60%;
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.botoncontinuar {
  margin-bottom: 24px;
}



/* oooooooooooooooooooooooooooooooooooooooooooooo  fin tipousuario   oooooooooooooooooooooooooooooooooooooooooooooooooooooo */
/* oooooooooooooooooooooooooooooooooooooooooooooooo   inicio   oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo */


.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.imagendonar {
  width: 80%;
  height: 120px;
  background-color: #63759b;
  border: 1px solid black;

  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 23px 23px 46px #8f8f8f,
    -23px -23px 46px #ffffff;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

.donar {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.donar * {
  margin: 0%;
}

.donar input {
  margin: 4px;

}

.categorias {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;
  margin-top: 24px;

}

.categoria {
  margin-left: 24px;
  background-color: aliceblue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}

.imagen1 {
  width: 80px;
  height: 80px;
  background-color: #63759b;
  border: 1px solid black;
  border-radius: 100%;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 23px 23px 46px #8f8f8f,
    -23px -23px 46px #ffffff;
}

.letras {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin: 8px;
  width: 70%;
}

.titulo {
  margin: 0%;
  padding: 2px;
}

.parrafos {
  margin: 0px;
  margin-left: 4%;

}

/* 000000000000000000000000000000000000000000000000   fin inicio   ooooooooooooooooooooooooooooooooooooooooo */
/* 000000000000000000000000000000000000000000000000   cada categoria   ooooooooooooooooooooooooooooooooooooo */
.nombrecategoria {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

/* 000000000000000000000000000000000000000000000000000  julian    000000000000000000000000000000000000000000 */
.loginInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;

}

.phoneBox {
  margin: 8px;
}

.passBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: 100%;
}

.registBox {
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.remember {
  margin: 8px;

}

.passRemember {
  padding-right: 48px;
  align-self: flex-end;
}

.buttonReg {
  margin-top: 1rem;
}

.regisText {
  margin: 0;
  margin-right: 5.8rem;
  font-size: 15px;
}

.regisTextR {
  margin: 0;
  margin-right: 2rem;
  font-size: 15px;
}

.regisTextM {
  margin: 0;
  margin-right: 8rem;
  font-size: 15px;
}

.regisTextC {
  margin: 0;
  margin-right: 5rem;
  font-size: 15px;
}

.inputBox {
  margin: 2rem;
}

.checkViewH1 {
  margin-top: 5px;
  font-size: 27.5px;
}

.FormText1 {
  font-size: 20px;
  font-weight: bold;
}

.FormText2 {
  margin-right: 3rem;
  font-size: 20px;
  font-weight: bold;
}

.checkContainer1 {
  display: flex;
  flex-direction: column;
  margin-right: 15rem;
}

.check1 {
  width: 30px;
  height: 30px;

}

.labelCheck1 {
  margin-right: 20px;
  margin-bottom: 15px;
}

span {
  font-size: 27px;
}

.span2 {
  font-size: 20px;
}

.span3 {
  font-size: 15px;
}

.check2 {
  width: 15px;
  height: 15px;

}

.checkContainer2 {
  display: flex;
  flex-direction: column;
}

.labelCheck2 {
  margin-right: 15rem;
  margin-bottom: 15px;
}

.labelCheck3 {
  margin-right: 11.9rem;
  margin-bottom: 15px;
}

.labelCheck4 {
  margin-right: 11.3rem;
  margin-bottom: 15px;
}

.labelCheck5 {
  margin-right: 13.1rem;
  margin-bottom: 15px;
}

.labelCheck6 {
  margin-right: 7.9rem;
  margin-bottom: 15px;
}

.labelCheck7 {
  margin-right: 9.3rem;
  margin-bottom: 15px;
}

.labelCheck8 {
  margin-right: 11.6rem;
  margin-bottom: 15px;
}

.labelCheck9 {
  margin-right: 9.8rem;
  margin-bottom: 15px;
}

.checkContainer3 {
  display: flex;
  flex-direction: column;
}

.buttonCont {
  width: 150px;
  height: 30px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #63759b;
  margin-top: 20px;
}

/* 0000000000000000000000000000000000000000000000000 fin julian  00000000000000000000000000000000000000000000000000000000000000000000000 */


/* *********************------ CATEGTOTAL -------***************** */


#imgCabecera {
  width: 414px;
  box-shadow: 10px black;
   margin: 98px 0 64px;
}

.cardsAssis{
  border: 1px solid black;
  width: 328px;
  height: 135px;
  float: left;
  margin-left: 45px;
  border-radius: 10px;
  padding: 5px;
  background-color: #EBEBEB;
}

.subcardAssis{
  margin-top: -10px;
  border-radius: 10px;
  height: 130px;
  width: 323px;
  background-image: linear-gradient(to bottom, rgba(73, 188, 196, 0.22) 0%, rgba(223, 223, 223, 0) 100%);

}